# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example
http/
/http

# Generated Prisma Client
generated/prisma/
/generated/prisma

# Build, coverage, and log files
dist/
coverage/
*.log

# Operating system files
.DS_Store
Thumbs.db

05-คู่มือลงมือทั้งระบบ-ทีละก้อน.md

01-คู่มือ-Auth-เริ่มจาก-app-use-auth.md
03-คู่มือ-Departments-CRUD.md

.vscode/
